.cuerpoApp{
   background-color: rgb(141, 181, 221)
}

.idProducto{
   visibility: hidden;
}

.contenedor {
   position: absolute;
   width: 340px;
   height: 8vh;
   display: block;
   text-align:center;
  right: 40%;
  margin-top: 70px;
   padding-bottom: 20px;
}

.contenedor div{
   margin-bottom: 20px;
}