.cuerpoApp{
    background-color: mediumaquamarine;
}

.contenedor {
    position: absolute;
    width: 340px;
    height: 8vh;
    display: block;
    text-align:center;
	right: 40%;
	margin-top: 70px;
    padding-bottom: 20px;
}

.contenedor input{
    height: 5vh;
}

.contenedor div{
    margin: 20px;
}

.contenedor button{
    height: 5vh;

     width: 100px;
     background-color: mistyrose;

}