.contenedor {
    position: absolute;
    width: 340px;
    height: 8vh;
    display: block;
    text-align:center;
	right: 40%;
	margin-top: 70px;
    padding-bottom: 20px;
}

.contenedor div{
    margin-bottom: 20px;
}