.encabezadoPrincipal{
  word-spacing: 0.3em;
  letter-spacing: 0.1em;
  margin-top: 20px;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
}
.seccionActual{
    word-spacing: 0.3em;
    letter-spacing: 0.1em;
    margin-top: 20px;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
   
}

.datos{
    font-family: serins;
    border-color: rgb(16, 248, 16);
    font-size: 20px;
    width: 30vw;
    text-align: center;

    
}


/*
Bloque para cambiar la configuración por defecto de los componentes tipo input.
*/
input{
    border-color: #0B870B;
    margin-bottom: 36px;
    
    
  }





.Registrar{
    margin-bottom: 20px;
  
    border-color: rgb(16, 248, 16);
    background-color: darkcyan;
    font-style: italic;
    font-size:  20px;
  }

.cuerpoApp{
    background-image: url(fondo-registro.jpg);
    background-size: cover;
}

a{
  color:blue;
  font-size: 18px;
  font-weight: bold;

}

.form-group{
  margin: auto;
  width: 60%;
  padding: 10px;
}
